.error { color:#900000; text-align:center; font-weight:bold; }
div.ui-page-active { display:block!important; }

#message {
   display:none;
   margin:10px;
   padding:10px; 
   border:3px solid red;
   background-color:#fff; 
   text-align:center;
}

.ui-btn-inner, .ui-btn-corner-all { -moz-border-radius:3px; -webkit-border-radius:3px; }

span.matchday {
  display:inline-block;
  left: 1px; 
  max-height: 80px;
  text-align:center;
  vertical-align:50%; 
  max-width: 80px; 
  position: absolute; 
  top: 0; 
  height:76px; 
  width:76px; 
  margin-right: 150px;
}

#list h3.ui-li-heading, #list p.ui-li-desc { margin-left:100px; }
span.color-grey { color:#aaa; }
span.left { float:left; clear:both; overflow:hidden; }
span.right { float:right; clear:both; overflow:hidden; }

span.matchday {text-align:center;}
span.matchday_border {
  border:4px solid #a9a9a9; 
  display:inline-block; 
  height:58px; 
  width:58px; 
  padding:5px;
  vertical-align:50%;
}

#list .ui-li-has-thumb, #list .ui-btn-inner { min-height: 20px; padding:5px 0;}
#list div.ui-btn-inner { padding:5px 5px 5px 0; }
#navbar .ui-btn-inner { padding:5px 30px 5px 30px; }

span.left-column, span.right-column {white-space: pre-line; overflow:hidden; display:inline-block; width:50%; }
span.left-column { float:left; text-align:left;} span.right-column { float:right; text-align:right;}

span.icon { margin:0 10px; vertical-align:middle; line-height: 20px; border: 2px solid #cccccc; -moz-border-radius:50%; }
span.icon-1_FC_Kaiserslautern{ background: url(../img/teams.png) no-repeat top left; background-position: 0 0; width: 20px; height: 20px; display:inline-block; } 
span.icon-1_FC_Koeln{ background: url(../img/teams.png) no-repeat top left; background-position: 0 -70px; width: 20px; height: 20px; display:inline-block; } 
span.icon-1_FC_Nuernberg{ background: url(../img/teams.png) no-repeat top left; background-position: 0 -140px; width: 20px; height: 20px; display:inline-block; } 
span.icon-1_FSV_Mainz_05{ background: url(../img/teams.png) no-repeat top left; background-position: 0 -210px; width: 20px; height: 20px; display:inline-block; } 
span.icon-Bayer_Leverkusen{ background: url(../img/teams.png) no-repeat top left; background-position: 0 -280px; width: 20px; height: 20px; display:inline-block; } 
span.icon-Bayern_Muenchen{ background: url(../img/teams.png) no-repeat top left; background-position: 0 -350px; width: 20px; height: 20px; display:inline-block; } 
span.icon-Bor_Moenchengladbach{ background: url(../img/teams.png) no-repeat top left; background-position: 0 -420px; width: 20px; height: 20px; display:inline-block; } 
span.icon-Borussia_Dortmund{ background: url(../img/teams.png) no-repeat top left; background-position: 0 -490px; width: 20px; height: 20px; display:inline-block; } 
span.icon-Eintracht_Frankfurt{ background: url(../img/teams.png) no-repeat top left; background-position: 0 -560px; width: 20px; height: 20px; display:inline-block;} 
span.icon-FC_Schalke_04{ background: url(../img/teams.png) no-repeat top left; background-position: 0 -630px; width: 20px; height: 20px; display:inline-block; } 
span.icon-FC_St_Pauli{ background: url(../img/teams.png) no-repeat top left; background-position: 0 -700px; width: 20px; height: 20px; display:inline-block; } 
span.icon-Hamburger_SV{ background: url(../img/teams.png) no-repeat top left; background-position: 0 -770px; width: 20px; height: 20px; display:inline-block; } 
span.icon-Hannover_96{ background: url(../img/teams.png) no-repeat top left; background-position: 0 -840px; width: 20px; height: 20px; display:inline-block; } 
span.icon-SC_Freiburg{ background: url(../img/teams.png) no-repeat top left; background-position: 0 -910px; width: 20px; height: 20px; display:inline-block; } 
span.icon-TSG_Hoffenheim{ background: url(../img/teams.png) no-repeat top left; background-position: 0 -980px; width: 20px; height: 20px; display:inline-block; } 
span.icon-VfB_Stuttgart{ background: url(../img/teams.png) no-repeat top left; background-position: 0 -1050px; width: 20px; height: 20px; display:inline-block; } 
span.icon-VfL_Wolfsburg{ background: url(../img/teams.png) no-repeat top left; background-position: 0 -1120px; width: 20px; height: 20px; display:inline-block;} 
span.icon-werder_bremen{ background: url(../img/teams.png) no-repeat top left; background-position: 0 -1190px; width: 20px; height: 20px; display:inline-block;} 