span.icon { margin:0 10px; vertical-align:middle; line-height: 20px; border: 2px solid #cccccc; -moz-border-radius:50%; -webkit-border-radius:20px;  background: url(../img/teams.png) no-repeat top left; }

span.icon-BVB { background-position: 0px 0px; width: 20px; height: 20px; display:inline-block; }

span.icon-HSV { background-position: 0px 40px; width: 20px; height: 20px; display:inline-block; }

span.icon-1FCK { background-position: 0px 80px; width: 20px; height: 20px; display:inline-block; }

span.icon-HOF { background-position: 0px 120px; width: 20px; height: 20px; display:inline-block; }

span.icon-B04 { background-position: 0px 160px; width: 20px; height: 20px; display:inline-block; }

span.icon-FCB { background-position: 0px 200px; width: 20px; height: 20px; display:inline-block; }

span.icon-S04 { background-position: 0px 240px; width: 20px; height: 20px; display:inline-block; }

span.icon-H96 { background-position: 0px 280px; width: 20px; height: 20px; display:inline-block; }

span.icon-BSC { background-position: 0px 320px; width: 20px; height: 20px; display:inline-block; }

span.icon-FVB { background-position: 0px 360px; width: 20px; height: 20px; display:inline-block; }

span.icon-WOB { background-position: 0px 400px; width: 20px; height: 20px; display:inline-block; }

span.icon-BRE { background-position: 0px 440px; width: 20px; height: 20px; display:inline-block; }

span.icon-FCK { background-position: 0px 480px; width: 20px; height: 20px; display:inline-block; }

span.icon-1FCN { background-position: 0px 520px; width: 20px; height: 20px; display:inline-block; }

span.icon-MO5 { background-position: 0px 560px; width: 20px; height: 20px; display:inline-block; }

span.icon-FCA { background-position: 0px 600px; width: 20px; height: 20px; display:inline-block; }

span.icon-SCF { background-position: 0px 640px; width: 20px; height: 20px; display:inline-block; }

span.icon-BMG { background-position: 0px 680px; width: 20px; height: 20px; display:inline-block; }
